---
import {
  SOCIAL_DISCORD_ID,
  SOCIAL_INSTAGRAM,
  SOCIAL_LINKEDIN,
  SOCIAL_MASTODON,
  SOCIAL_TELEGRAM,
  SOCIAL_DISCORD,
  SOCIAL_BLUESKY,
  SOCIAL_GITHUB,
  SOCIAL_EMAIL,
  SOCIAL_X_EN,
  SOCIAL_X_RU,
} from '~/constants'
import AboutSocialLinks from '~/components/About/AboutSocialLinks.astro'
import AboutSocial from '~/components/About/AboutSocial.astro'
import { getLocaleFromUrl } from '~/utils/get-locale-from-url'
import { Content as EnAbout } from '~/content/about/en.mdx'
import { Content as RuAbout } from '~/content/about/ru.mdx'
import { useTranslations } from '~/utils/use-translations'
import Typography from '~/components/Typography.astro'
import LayoutDefault from '~/layouts/Default.astro'
import Title from '~/components/Title.astro'
import { locales } from '~/locales'

let locale = getLocaleFromUrl(Astro.url)
let t = useTranslations(locale, 'about')

let socialMedia = [
  {
    link: `mailto:${SOCIAL_EMAIL}`,
    username: SOCIAL_EMAIL,
    name: 'Email',
    type: 'email',
  },
  {
    link: `https://github.com/${SOCIAL_GITHUB}`,
    username: `@${SOCIAL_GITHUB}`,
    name: 'GitHub',
    type: 'github',
  },
  {
    link: `https://x.com/${locale === 'ru' ? SOCIAL_X_RU : SOCIAL_X_EN}`,
    username: `@${locale === 'ru' ? SOCIAL_X_RU : SOCIAL_X_EN}`,
    name: 'X',
    type: 'x',
  },
  {
    link: `https://bsky.app/profile/${SOCIAL_BLUESKY}`,
    username: `@${SOCIAL_BLUESKY}`,
    name: 'BlueSky',
    type: 'bluesky',
  },
  {
    link: `https://mastodon.social/@${SOCIAL_MASTODON}`,
    username: `@${SOCIAL_MASTODON}`,
    name: 'Mastodon',
    type: 'mastodon',
  },
  {
    link: `https://linkedin.com/in/${SOCIAL_LINKEDIN}`,
    username: `@${SOCIAL_LINKEDIN}`,
    name: 'LinkedIn',
    type: 'linkedin',
  },
  {
    link: `https://discordapp.com/users/${SOCIAL_DISCORD_ID}`,
    username: `@${SOCIAL_DISCORD}`,
    name: 'Discord',
    type: 'discord',
  },
  {
    link: `https://t.me/${SOCIAL_TELEGRAM}`,
    username: `@${SOCIAL_TELEGRAM}`,
    name: 'Telegram',
    type: 'telegram',
  },
  {
    link: `https://instagram.com/${SOCIAL_INSTAGRAM}`,
    username: `@${SOCIAL_INSTAGRAM}`,
    name: 'Instagram',
    type: 'instagram',
  },
] as const

export function getStaticPaths() {
  return locales.map(({ code }) => ({ params: { lang: code } }))
}
---

<LayoutDefault description={t('description')} title={t('title')} type="profile">
  <section aria-labelledby="about">
    <Title id="about">{t('title')}</Title>
    {locale === 'ru' ? <RuAbout /> : <EnAbout />}
  </section>
  <section aria-labelledby="links">
    <Typography id="links" size="xl" tag="h2" mbs="xl" mbe="l" bold>
      {t('links')}
    </Typography>
    <AboutSocialLinks itemtype="https://schema.org/Person" itemscope>
      {
        socialMedia.map(({ username, link, name, type }) => (
          <AboutSocial
            data-umami-event="Visit social link"
            data-umami-event-name={name}
            name={t(type)}
            itemprop="url"
            {username}
            {link}
            {type}
          />
        ))
      }
    </AboutSocialLinks>
  </section>
</LayoutDefault>
