---
import AboutSocialLinks from '~/components/About/AboutSocialLinks.astro'
import AboutSocial from '~/components/About/AboutSocial.astro'
import { getLocaleFromUrl } from '~/utils/get-locale-from-url'
import { Content as EnAbout } from '~/content/about/en.mdx'
import { Content as RuAbout } from '~/content/about/ru.mdx'
import { useTranslations } from '~/utils/use-translations'
import Typography from '~/components/Typography.astro'
import LayoutDefault from '~/layouts/Default.astro'
import Title from '~/components/Title.astro'
import { locales } from '~/locales'

let locale = getLocaleFromUrl(Astro.url)
let t = useTranslations(locale, 'about')

let xUsername = locale === 'ru' ? 'azat_io' : 'azat_io_en'

let socialMedia = [
  {
    link: 'mailto:to@azat.io',
    username: 'to@azat.io',
    name: 'Email',
    type: 'email',
  },
  {
    link: 'https://github.com/azat-io',
    username: '@azat-io',
    name: 'GitHub',
    type: 'github',
  },
  {
    link: `https://x.com/${xUsername}`,
    username: `@${xUsername}`,
    name: 'X',
    type: 'x',
  },
  {
    link: 'https://mastodon.social/@azat_io',
    username: '@azat_io@mastodon.social',
    name: 'Mastodon',
    type: 'mastodon',
  },
  {
    link: 'https://bsky.app/profile/azat-io.bsky.social',
    username: '@azat-io.bsky.social',
    name: 'BlueSky',
    type: 'bluesky',
  },
  {
    link: 'https://linkedin.com/in/azat-io',
    username: '@azat-io',
    name: 'LinkedIn',
    type: 'linkedin',
  },
  {
    link: 'https://discordapp.com/users/107017608368271360',
    username: '@azat_io',
    name: 'Discord',
    type: 'discord',
  },
  {
    link: 'https://t.me/azat_io',
    username: '@azat_io',
    name: 'Telegram',
    type: 'telegram',
  },
  {
    link: 'https://instagram.com/azat_io',
    username: '@azat_io',
    name: 'Instagram',
    type: 'instagram',
  },
] as const

export let getStaticPaths = () =>
  locales.map(({ code }) => ({ params: { lang: code } }))
---

<LayoutDefault description={t('description')} title={t('title')} type="profile">
  <section aria-labelledby="about">
    <Title id="about">{t('title')}</Title>
    {locale === 'ru' ? <RuAbout /> : <EnAbout />}
  </section>
  <section aria-labelledby="links">
    <Typography id="links" size="xl" tag="h2" mbs="xl" mbe="l" bold>
      {t('links')}
    </Typography>
    <AboutSocialLinks itemtype="https://schema.org/Person" itemscope>
      {
        socialMedia.map(({ username, link, name, type }) => (
          <AboutSocial
            data-umami-event="Visit social link"
            data-umami-event-name={name}
            name={t(type)}
            itemprop="url"
            {username}
            {link}
            {type}
          />
        ))
      }
    </AboutSocialLinks>
  </section>
</LayoutDefault>
