---
import { getLocaleFromUrl } from '~/utils/get-locale-from-url'
import { useTranslations } from '~/utils/use-translations'
import Typography from '~/components/Typography.astro'
import GithubIcon from '~/icons/github.svg?raw'
import Hidden from '~/components/Hidden.astro'
import XIcon from '~/icons/x.svg?raw'

let locale = getLocaleFromUrl(Astro.url)
let t = useTranslations(locale, 'footer')

let xUsername = locale === 'ru' ? 'azat_io' : 'azat_io_en'

let icons = [
  {
    link: `https://twitter.com/${xUsername}`,
    name: t('x'),
    icon: XIcon,
  },
  {
    link: 'https://github.com/azat-io',
    name: t('github'),
    icon: GithubIcon,
  },
]
---

<script is:inline>
  document.addEventListener('astro:after-swap', () => {
    let buttons = document.querySelectorAll('.copy-code-button')

    for (let button of buttons) {
      button.addEventListener('click', () => {
        button.classList.add('copy-code-button-copied')
        navigator.clipboard.writeText(
          button.nextElementSibling?.textContent ?? '',
        )
        setTimeout(() => {
          button.classList.remove('copy-code-button-copied')
        }, 2000)
      })
    }
  })
</script>
<footer class="footer">
  <Typography size="m">CC BY-NC-SA 4.0</Typography>
  <div class="part">
    {
      icons.map(({ icon, name, link }) => (
        <a
          aria-label={`${t('follow-me-on')} ${name}`}
          rel="noreferrer noopener"
          target="_blank"
          class="link"
          href={link}
        >
          <Fragment set:html={icon} />
          <Hidden>{name}</Hidden>
        </a>
      ))
    }
  </div>
</footer>

<style>
  .footer {
    display: flex;
    gap: var(--space-xs);
    align-items: center;
    justify-content: space-between;
    padding: var(--space-m) var(--space-m) var(--space-xl);
    border-block-start: solid var(--color-border-primary);
  }

  .part {
    display: flex;
    gap: var(--space-2xs);
    align-items: center;
  }

  .link {
    display: flex;
    padding: var(--space-xs);
    color: var(--color-content-primary);
    border-block-end: none;
    border-radius: var(--border-radius);
    transition: all 300ms;
    will-change: box-shadow, background, color;
  }

  .link:hover {
    background: var(--color-background-primary-hover);
  }

  .link:hover,
  .link:focus-visible {
    color: var(--color-content-brand);
  }

  .link:focus-visible {
    transition-property: box-shadow;
  }

  .link :global(svg) {
    inline-size: 28px;
    block-size: 28px;
  }
</style>
