---
import { ViewTransitions } from 'astro:transitions'

import { getLocaleFromUrl } from '~/utils/get-locale-from-url'
import { useTranslations } from '~/utils/use-translations'
import spacesStyles from '~/styles/spaces.css?raw'
import colorsStyles from '~/styles/colors.css?raw'
import fontsStyles from '~/styles/fonts.css?raw'
import baseStyles from '~/styles/base.css?raw'

interface Props {
  image?: undefined | string
  description: string
  title: string
}

let locale = getLocaleFromUrl(Astro.url)
let t = useTranslations(locale, 'head')

let { image = `/cover-${locale}.png`, description, title } = Astro.props

let canonicalURL = new URL(Astro.url.pathname, Astro.site)
  .toString()
  .replace(/\.html$/, '')

let pageTitle = `${title} | ${t('name')}`
let xUsername = locale === 'ru' ? '@azat_io' : '@azat_io_en'

let isProd = import.meta.env.PROD
---

<head>
  <meta charset="utf-8" />
  <meta content="width=device-width,initial-scale=1" name="viewport" />
  <meta name="theme-color" content="#1b1b1b" />

  <link href="/favicon.ico" sizes="any" rel="icon" />
  <link type="image/svg+xml" href="/icon.svg" rel="icon" />
  <link href="/apple-touch-icon.png" rel="apple-touch-icon" />
  <link href={`/manifest-${locale}.json`} rel="manifest" />

  <link
    href="/fonts/co-text-regular.woff2"
    fetchpriority="high"
    type="font/woff"
    rel="preload"
    crossorigin
    as="font"
  />
  <link
    href="/fonts/co-text-bold.woff2"
    fetchpriority="high"
    type="font/woff"
    rel="preload"
    crossorigin
    as="font"
  />

  <link href={canonicalURL} rel="canonical" />
  <link
    type="application/rss+xml"
    href={`${locale}/rss.xml`}
    title={t('name')}
    rel="alternate"
  />
  <link href="/sitemap-index.xml" rel="sitemap" />

  <title>{pageTitle}</title>
  <meta content={pageTitle} name="title" />
  <meta content={description} name="description" />

  <meta content="Azat S." name="author" />

  <meta property="og:type" content="website" />
  <meta content={Astro.url} property="og:url" />
  <meta property="og:title" content={pageTitle} />
  <meta property="og:description" content={description} />
  <meta property="og:image" content={image} />

  <meta content="summary_large_image" property="twitter:card" />
  <meta property="twitter:url" content={Astro.url} />
  <meta name="twitter:creator" content={xUsername} />
  <meta name="twitter:site" content={xUsername} />
  <meta property="twitter:title" content={pageTitle} />
  <meta property="twitter:description" content={description} />
  <meta property="twitter:image" content={image} />

  <style set:html={baseStyles}></style>
  <style set:html={fontsStyles}></style>
  <style set:html={colorsStyles}></style>
  <style set:html={spacesStyles}></style>
  <slot />

  <script is:inline>
    let initialize = () => {
      let theme = 'dark'
      if (localStorage.getItem('theme') === 'light') {
        theme = 'light'
      }
      document.documentElement.setAttribute('data-theme', theme)
      localStorage.setItem('theme', theme)
    }
    initialize()
    document.addEventListener('astro:after-swap', initialize)
  </script>

  {
    isProd && (
      <script
        data-website-id="effe2886-cd9d-46cd-9c95-e9dbad667822"
        src="https://analytics.azat.io/script.js"
        fetchpriority="low"
        async
      />
    )
  }

  <ViewTransitions />
</head>
