---
import BlogReadingTime from '~/components/Blog/BlogReadingTime.astro'
import BlogThumbnail from '~/components/Blog/BlogThumbnail.astro'
import { getLocaleFromUrl } from '~/utils/get-locale-from-url'
import BlogInfo from '~/components/Blog/BlogInfo.astro'
import BlogDate from '~/components/Blog/BlogDate.astro'
import Typography from '~/components/Typography.astro'

interface Props {
  description: string
  title: string
  slug: string
  body: string
  date: Date
}

let { description, title, slug, date, body } = Astro.props

let locale = getLocaleFromUrl(Astro.url)
---

<li class="item">
  <a href={`/${locale}/blog/${slug}/`} class="card">
    <BlogThumbnail name={title} id={slug} />
    <article>
      <Typography color="brand" size="l" tag="h2" bold>
        {title}
      </Typography>
      <BlogInfo>
        <BlogDate date={date} />
        <BlogReadingTime body={body} />
      </BlogInfo>
      <Typography class="description" color="secondary" size="2xs">
        {description}
      </Typography>
    </article>
  </a>
</li>

<style>
  .item {
    display: flex;
  }

  .card {
    display: flex;
    flex-direction: column;
    gap: var(--space-l);
    inline-size: 100%;
    padding: var(--space-s) var(--space-xs);
    text-decoration: none;
    border-radius: var(--border-radius);
    transition: all 250ms;
    will-change: box-shadow, background;

    @media (hover: hover) {
      &:hover {
        background: var(--color-background-primary-hover);
      }
    }

    &:focus-visible {
      transition-property: box-shadow;
    }

    @container (inline-size >= 560px) {
      flex-direction: row;
    }
  }

  p.description {
    margin-block-start: var(--space-m);

    @container (inline-size >= 560px) {
      margin-block-start: var(--space-xs);
    }
  }
</style>
