---
import { getLocaleFromUrl } from '~/utils/get-locale-from-url'
import { useTranslations } from '~/utils/use-translations'
import Typography from '~/components/Typography.astro'
import { getPosts } from '~/utils/get-posts'
import Icon from '~/components/Icon.astro'

interface Props {
  slug: string
}

let { slug } = Astro.props

let locale = getLocaleFromUrl(Astro.url)
let t = useTranslations(locale, 'blog')

let parseUrl = (
  url: string,
): {
  locale: string
  slug: string
} => {
  let [slugValue, localeValue] = url.replace(/\.mdx?$/u, '').split('/')
  return { locale: localeValue!, slug: slugValue! }
}

let posts = await getPosts(locale)
let indexOfCurrentPost = posts.findIndex(post => {
  let { locale: localeValue, slug: slugValue } = parseUrl(slug)
  return `${locale}/${post.slug}` === `${localeValue}/${slugValue}`
})
let isFirstPost = indexOfCurrentPost === posts.length - 1
let isLastPost = indexOfCurrentPost === 0
let previousPost = isFirstPost ? null : posts.at(indexOfCurrentPost + 1)
let nextPost = isLastPost ? null : posts.at(indexOfCurrentPost - 1)
---

{
  locale === parseUrl(slug).locale && (
    <>
      <>
        {isFirstPost ? (
          <div />
        ) : (
          <div class:list={['post', 'post-previous']}>
            <a
              href={`/${locale}/blog/${previousPost?.slug}`}
              class="link link-previous"
            >
              <Icon name="arrow-left" class="icon" size="s" />
              <div>
                <Typography color="primary" size="s">
                  {t('previous-post')}
                </Typography>
                <Typography color="inherit">
                  {previousPost?.data.title}
                </Typography>
              </div>
            </a>
          </div>
        )}
      </>
      <>
        {!isLastPost && (
          <div class:list={['post', 'post-next']}>
            <a
              href={`/${locale}/blog/${nextPost?.slug}`}
              class="link link-next"
            >
              <div>
                <Typography color="primary" size="s">
                  {t('next-post')}
                </Typography>
                <Typography color="inherit">{nextPost?.data.title}</Typography>
              </div>
              <Icon name="arrow-right" class="icon" size="s" />
            </a>
          </div>
        )}
      </>
    </>
  )
}

<style>
  .link {
    display: inline-flex;
    gap: var(--space-s);
    block-size: 100%;
    padding-inline: 0;
    text-decoration: none;
    border-radius: var(--border-radius);

    @container (inline-size >= 640px) {
      flex-direction: row;
    }
  }

  .icon {
    place-self: center;
  }

  .link-previous {
    text-align: start;
  }

  .link-next {
    flex-direction: row-reverse;

    @container (inline-size >= 640px) {
      flex-direction: row;
    }
  }

  .post {
    display: flex;
  }

  .post-next {
    @container (inline-size >= 640px) {
      place-content: end;
      text-align: end;
    }
  }
</style>
