---
import type { CollectionEntry } from 'astro:content'

import BlogAvailableLocales from '~/components/Blog/BlogAvailableLocales.astro'
import BlogAdditionalPosts from '~/components/Blog/BlogAdditionalPosts.astro'
import BlogWidgetWrapper from '~/components/Blog/BlogWidgetWrapper.astro'
import BlogEditPageLink from '~/components/Blog/BlogEditPageLink.astro'
import BlogTranslation from '~/components/Blog/BlogTranslation.svelte'
import BlogReadingTime from '~/components/Blog/BlogReadingTime.astro'
import { getLocaleFromUrl } from '~/utils/get-locale-from-url'
import BlogShare from '~/components/Blog/BlogShare.svelte'
import BlogHero from '~/components/Blog/BlogHero.astro'
import BlogInfo from '~/components/Blog/BlogInfo.astro'
import BlogDate from '~/components/Blog/BlogDate.astro'
import Container from '~/components/Container.astro'
import Header from '~/components/Header.astro'
import Footer from '~/components/Footer.astro'
import Title from '~/components/Title.astro'
import { getPosts } from '~/utils/get-posts'
import Head from '~/components/Head.astro'
import Html from '~/components/Html.astro'

type Props = CollectionEntry<'blog'>['data'] & {
  body: string
  slug: string
}

let { description, title, date, slug, body } = Astro.props

let locale = getLocaleFromUrl(Astro.url, true)

let parseUrl = (url: string) => {
  let [slugValue, localeValue] = url.replace(/\.mdx?$/, '').split('/')
  return { locale: localeValue!, slug: slugValue! }
}

let id = parseUrl(slug).slug

let posts = await getPosts()

let translations = posts
  .filter(
    post =>
      parseUrl(slug).slug === parseUrl(post.slug!).slug &&
      locale !== parseUrl(post.id).locale,
  )
  .map(({ slug: slugValue, ...post }) => {
    let localeValue = post.id.replace(/\.mdx?$/, '').split('/')[1]!
    return {
      ...post,
      locale: localeValue,
      slug: slugValue!,
    }
  })

let images = import.meta.glob('../content/blog/**/**')
images = Object.fromEntries(
  Object.entries(images)
    .filter(([key]) => key.includes('assets/hero'))
    .map(([key, value]) => [
      key
        .replace('../content/blog/', '')
        .replace('/assets/hero', '')
        .replace(/\.png$/, ''),
      value,
    ]),
)

let imageSrc = (await images[id]?.()) as { default: ImageMetadata } | undefined
---

<Html>
  <Head image={imageSrc?.default.src} description={description} title={title} />
  <body>
    <main class="main">
      <Header />
      <BlogHero name={title} id={id} />
      <Container tag="article">
        <Title align="start">{title}</Title>
        <BlogInfo>
          <BlogDate date={date} />
          <BlogReadingTime body={body} />
        </BlogInfo>
        <BlogAvailableLocales translations={translations} />
        <slot />
        <BlogWidgetWrapper>
          <BlogEditPageLink slug={slug} />
          <BlogShare description={description} title={title} client:load />
        </BlogWidgetWrapper>
        <BlogTranslation translations={translations} client:load />
        <BlogAdditionalPosts slug={slug} />
      </Container>
      <Footer />
    </main>
  </body>
</Html>

<style>
  .main {
    display: grid;
    grid-template-rows: auto auto 1fr auto;
    min-block-size: 100dvb;
  }
</style>
