---
import type { CollectionEntry } from 'astro:content'

import { fade } from 'astro:transitions'

import BlogAvailableLocales from '~/components/Blog/BlogAvailableLocales.astro'
import BlogAdditionalPosts from '~/components/Blog/BlogAdditionalPosts.astro'
import BlogWidgetWrapper from '~/components/Blog/BlogWidgetWrapper.astro'
import BlogEditPageLink from '~/components/Blog/BlogEditPageLink.astro'
import BlogTranslation from '~/components/Blog/BlogTranslation.svelte'
import BlogReadingTime from '~/components/Blog/BlogReadingTime.astro'
import { getLocaleFromUrl } from '~/utils/get-locale-from-url'
import BlogShare from '~/components/Blog/BlogShare.svelte'
import BlogHero from '~/components/Blog/BlogHero.astro'
import BlogInfo from '~/components/Blog/BlogInfo.astro'
import BlogDate from '~/components/Blog/BlogDate.astro'
import Container from '~/components/Container.astro'
import Header from '~/components/Header.astro'
import Footer from '~/components/Footer.astro'
import Title from '~/components/Title.astro'
import { getPosts } from '~/utils/get-posts'
import Head from '~/components/Head.astro'
import Body from '~/components/Body.astro'
import Html from '~/components/Html.astro'
import '~/styles/headings.css'
import '~/styles/code.css'

type Props = {
  body?: undefined | string
  slug: string
} & CollectionEntry<'blog'>['data']

let { description, body = '', keywords, title, date, slug } = Astro.props

let { url } = Astro
let locale = getLocaleFromUrl(url)
let realLocale = getLocaleFromUrl(url, true)

let parseUrl = (
  currentUrl: string,
): {
  locale: string
  slug: string
} => {
  let [slugValue, localeValue] = currentUrl.replace(/\.mdx?$/u, '').split('/')
  return { locale: localeValue!, slug: slugValue! }
}

let id = parseUrl(slug).slug

let posts = await getPosts()

let translations = posts
  .filter(
    post =>
      parseUrl(slug).slug === parseUrl(post.slug).slug &&
      realLocale !== parseUrl(post.id).locale,
  )
  .map(({ slug: slugValue, ...post }) => {
    let localeValue = post.id.replace(/\.mdx?$/u, '').split('/')[1]!
    return {
      ...post,
      locale: localeValue,
      slug: slugValue,
    }
  })
---

<Html>
  <Head
    image={`/${realLocale}/blog/${id}/open-graph.png`}
    type="article"
    {description}
    {keywords}
    {title}
    {date}
  />
  <Body class="app">
    <Header />
    <main
      transition:animate={fade({ duration: '100ms' })}
      itemtype="http://schema.org/BlogPosting"
      itemscope
    >
      <BlogHero itemprop="thumbnail" name={title} {id} />
      <Container class="content" tag="article" id="main">
        <Title itemprop="headline" align="start" mbe="s">
          {title}
        </Title>
        <BlogInfo>
          <BlogDate itemprop="datePublished" {date} />
          <BlogReadingTime itemprop="timeRequired" {body} />
        </BlogInfo>
        <BlogAvailableLocales {translations} />
        <slot />
      </Container>
      <Container class="info" tag="aside">
        <BlogTranslation
          translations={translations.map(({ locale: localeValue }) => ({
            locale: localeValue,
          }))}
          client:load
        />
        <BlogWidgetWrapper class="info-box">
          <BlogEditPageLink {slug} />
          <BlogShare
            client:only="svelte"
            class="blog-share"
            {description}
            {locale}
            {title}
            {url}
          />
          <div id="share-fallback"></div>
          <BlogAdditionalPosts {slug} />
        </BlogWidgetWrapper>
      </Container>
    </main>
    <Footer />
  </Body>
</Html>

<style>
  .app {
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    min-block-size: 100dvb;
  }

  .content {
    padding-block-end: 0;
  }

  .info {
    padding-block-start: 0;
  }

  .info-box {
    @container (inline-size >= 640px) {
      :global(.blog-share) {
        place-content: end;

        :global(.share) {
          flex-direction: row-reverse;
        }
      }
    }
  }
</style>
