---
import type { CollectionEntry } from 'astro:content'

import { fade } from 'astro:transitions'

import ProjectsInfobox from '~/components/Projects/ProjectsInfobox.astro'
import Container from '~/components/Container.astro'
import Header from '~/components/Header.astro'
import Footer from '~/components/Footer.astro'
import Title from '~/components/Title.astro'
import Head from '~/components/Head.astro'
import Body from '~/components/Body.astro'
import Html from '~/components/Html.astro'
import '~/styles/headings.css'
import '~/styles/code.css'

type Props = CollectionEntry<'projects'>['data']

let { description, keywords, badges, links, title, id } = Astro.props
---

<Html>
  <Head {description} {keywords} {title} />
  <Body class="app">
    <Header />
    <Container
      transition:animate={fade({ duration: '100ms' })}
      itemtype="https://schema.org/Product"
      tag="main"
      id="main"
      itemscope
    >
      <header>
        <Title itemprop="name">{title}</Title>
        <div class="badges">
          {badges.map(({ name, url }) => <img alt={name} src={url} />)}
        </div>
      </header>
      <ProjectsInfobox class="info" {links} {title} {id} />
      <slot />
    </Container>
    <Footer />
  </Body>
</Html>

<style>
  .app {
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    min-block-size: 100dvb;
  }

  .badges {
    display: flex;
    flex-wrap: wrap;
    gap: var(--space-s) var(--space-2xs);
    min-block-size: 20px;
    margin-block-end: var(--space-l);
  }

  .info {
    margin: 0 0 var(--space-l) 0;

    @container (inline-size >= 560px) {
      float: inline-end;
      margin: 0 0 var(--space-l) var(--space-l);
    }
  }
</style>
