---
import type { CollectionEntry } from 'astro:content'

import ProjectsInfobox from '~/components/Projects/ProjectsInfobox.astro'
import Container from '~/components/Container.astro'
import Header from '~/components/Header.astro'
import Footer from '~/components/Footer.astro'
import Title from '~/components/Title.astro'
import Head from '~/components/Head.astro'
import Html from '~/components/Html.astro'
import '~/styles/headings.css'
import '~/styles/code.css'

type Props = CollectionEntry<'projects'>['data']

let { description, keywords, badges, links, title, id } = Astro.props
---

<Html>
  <Head description={description} keywords={keywords} title={title} />
  <body>
    <Header />
    <Container itemtype="https://schema.org/Product" tag="main" itemscope>
      <header>
        <Title itemprop="name">{title}</Title>
        <div class="badges">
          {badges.map(({ name, url }) => <img alt={name} src={url} />)}
        </div>
      </header>
      <ProjectsInfobox links={links} title={title} class="info" id={id} />
      <slot />
    </Container>
    <Footer />
  </body>
</Html>

<style>
  body {
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    min-block-size: 100dvb;
  }

  .badges {
    display: flex;
    flex-wrap: wrap;
    gap: var(--space-s) var(--space-2xs);
    min-block-size: 20px;
    margin-block-end: var(--space-l);
  }

  @container (inline-size >= 560px) {
    .info {
      float: inline-end;
      margin-block-end: var(--space-l);
      margin-inline-start: var(--space-l);
    }
  }
</style>
