---
import type { CollectionEntry } from 'astro:content'

import ProjectsInfobox from '~/components/Projects/ProjectsInfobox.astro'
import headingStyles from '~/styles/headings.css?raw'
import Container from '~/components/Container.astro'
import codeStyles from '~/styles/code.css?raw'
import Header from '~/components/Header.astro'
import Footer from '~/components/Footer.astro'
import Title from '~/components/Title.astro'
import Head from '~/components/Head.astro'
import Html from '~/components/Html.astro'

type Props = CollectionEntry<'projects'>['data']

let { description, badges, links, title, id } = Astro.props
---

<Html>
  <Head description={description} title={title}>
    <style set:html={headingStyles}></style>
    <style set:html={codeStyles}></style>
  </Head>
  <body>
    <main class="main">
      <Header />
      <Container>
        <Title>{title}</Title>
        <div class="badges">
          {badges.map(({ name, url }) => <img alt={name} src={url} />)}
        </div>
        <ProjectsInfobox links={links} class="info" id={id} />
        <slot />
      </Container>
      <Footer />
    </main>
  </body>
</Html>

<style>
  .main {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-block-size: 100dvb;
  }

  .badges {
    display: flex;
    flex-wrap: wrap;
    gap: var(--space-s) var(--space-2xs);
    min-block-size: 20px;
    margin-block-end: var(--space-l);
  }

  @media (width >= 768px) {
    .info {
      float: inline-end;
      margin-block-end: var(--space-l);
      margin-inline-start: var(--space-l);
    }
  }
</style>
