---
import ProjectsLogo from '~/components/Projects/ProjectsLogo.astro'
import { getLocaleFromUrl } from '~/utils/get-locale-from-url'
import Typography from '~/components/Typography.astro'

interface Props {
  description: string
  title: string
  slug: string
}

let { description, title, slug } = Astro.props
let locale = getLocaleFromUrl(Astro.url)
---

<li class="item">
  <a href={`/${locale}/projects/${slug}/`} itemprop="url" class="card">
    <ProjectsLogo itemprop="image" title={title} id={slug} />
    <dl class="description">
      <Typography
        itemprop="name"
        color="brand"
        mbe="2xs"
        size="m"
        tag="dt"
        bold
      >
        {title}
      </Typography>
      <Typography
        itemprop="description"
        class="definition"
        color="secondary"
        size="2xs"
        tag="dd"
      >
        {description}
      </Typography>
    </dl>
  </a>
</li>

<style>
  .item {
    display: flex;
    margin-block: 0;
  }

  .card {
    display: flex;
    flex-direction: column;
    gap: var(--space-m);
    padding: var(--space-s) var(--space-xs);
    text-decoration: none;
    border-radius: var(--border-radius);
    transition: all 250ms;
    will-change: box-shadow, background;

    @media (hover: hover) {
      &:hover {
        background: var(--color-background-primary-hover);
      }
    }

    &:focus-visible {
      transition-property: box-shadow;
    }

    @container (inline-size >= 800px) {
      flex-direction: row;
      max-inline-size: 50%;
    }
  }

  .description {
    margin-block: 0;
  }

  .definition {
    margin-inline-start: 0;
  }
</style>
